.chat{margin: 5px 5px 20px;}
.content{border: 1px solid #BFCDE5;height: 300px;padding: 10px;overflow: scroll;overflow-x: hidden;}
.send{border: 1px solid #BFCDE5;border-top: none;}
.input{width: 100%;height: 50px;overflow: scroll;overflow-x: hidden;}
.sendBtn{position: relative;text-align: right;padding-right: 10px;padding-bottom: 5px;}
.text_div{margin-top: 10px;}
.receive_div{margin-top: 10px;}
.head_img{width: 30px;height: 30px;background-size: 100%;float: right;border-radius: 3px;}
.content_text{float: right;border-radius: 10px;word-wrap: break-word;line-height: 20px;padding: 5px 10px;margin: 0px 10px 10px;background-color: #64B9E4;width: auto;max-width: 70%;min-height: 20px;min-width: 40px;}
.close, .btn{cursor: pointer;display: inline;background-color: #5C7EB2;color: white;padding: 3px;border-radius: 5px;}
.back{padding: 10px;background-color: #e0e0e0;}
.clear{clear: both}
.onLine{margin: 2px 5px;}
.item{padding: 8px;border-bottom: 1px solid #e4e4e4;height: 50px;position: relative;}
.headImg{float: left;width: 50px;height: 50px;border-radius: 25px;background-size: 100%;margin-right: 10px;}
.context{}
.name, .address{line-height: 25px;padding: 0px 10px;overflow:hidden;height:25px;text-overflow: ellipsis;white-space:nowrap;}
.address{color: #B0ACA9;}
.chatName{text-align: center;margin-left: 50px;color: blue;}
.notRead{width: 25px;height: 20px;border-radius: 5px;background-color: #F56C0B;color: #FEFEFE;text-align: center;position: absolute;right: 20px;bottom: 5px;}
.light{
animation: myfirst 0.5s linear 0s 5 alternate;
-moz-animation: myfirst 0.5s linear 0s 5 alternate;
-webkit-animation: myfirst 0.5s linear 0s 5 alternate;
-o-animation: myfirst 0.5s linear 0s 5 alternate;
}
@keyframes myfirst
{
from {background:white;}
to {background:#EAEFF1;}
}

@-moz-keyframes myfirst /* Firefox */
{
from {background:white;}
to {background:#EAEFF1;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
from {background:white;}
to {background:#EAEFF1;}
}

@-o-keyframes myfirst /* Opera */
{
from {background:white;}
to {background:#EAEFF1;}
}






